.main {
  @apply flex flex-col w-full min-h-screen;
  @screen md {
    @apply flex-row justify-between;
  }
}

.container {
  @apply flex-grow;
  @apply flex items-center justify-center;
  margin-bottom: $toolbar-height--mobile;

  @screen md{
    @apply min-h-screen;
    margin-bottom: 0;
  }
}

.editor-tool {
  @apply flex flex-row justify-around;
  @apply bg-gray-600 text-white;

  @apply  w-full;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: $toolbar-height--mobile;

  @screen md{
    position: static;
    width: $toolbar-width--md;
    @apply flex-col justify-between min-h-screen;
  }

  & > div {
    @apply flex flex-row;

    @screen md{
      @apply flex-col;
    }
  }
}

#editor {
  @apply bg-white;
  width: 90%;
}
