.tool {
  @apply flex flex-col items-center py-2 px-3 mt-2;
  @apply border-pink-600 border-none cursor-pointer;
  min-width: 60px;

  &.active {
    @apply bg-gray-800 text-pink-600;
  }
  @screen md {
    @apply border-t w-full flex-row border-solid border-gray-700 mt-0;
    height: 48px;
  }

  &:hover {
    @apply text-pink-600 bg-gray-800;
  }

  &__description {
    @apply text-sm mt-2;
    @screen md{
      @apply ml-6 mt-0 text-lg;
    }
  }
}

.tool-upload__label {
  @apply flex flex-col items-center;
  @screen md{
    @apply flex-row;
  }
}

.subtool {
  @apply flex flex-row w-full bg-gray-600 py-2 px-3;
  position: fixed;
  left: 0;
  right: 0;
  bottom: $toolbar-height--mobile;
  height: $subtoolbar-height-mobile;
  
  @screen md{
    position: static;
    @apply bg-gray-600;
  }

  .mask-select {
    @apply py-2 px-1 border-none p-2;
    width: 20%;
    @screen md{
      width: 30%;
    }
    
    &:hover, &.active {
      @apply bg-gray-800;
    }
  }
}